body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.others-lists {
  /* font: inherit; */
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}
img{
  max-width: 100% ;
  height: auto;
}
.visually-hidden {
  display: none;
}
.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px  30px;

  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000;
}

.main-header{
  margin-bottom: 75px;
  min-height: 285px;
}
.main-header-logo{
  order: 2;
  width: 368px;
  height: 153px;
  /* display: block; */
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;


  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-navigation {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;

  width: 620px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  max-width: 140px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  min-height: 70px;
  background-color: #000000;
}
.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  color: #ffffff;
}

.user-navigation .login-link{
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 28px;
  left: 24px;

  width: 16px;
  height: 18px;
  background-image: url("../img/login.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.login-link:focus::before,
.login-link:hover::before,
.login-link:active::before{
  opacity: 1;
}

.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-navigation-wrapper .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}



.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}
.features {
  margin-bottom: 80px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 300px;
  text-align: center;

}

.features-item h3 {
  position: relative;
  margin: 0;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}
.features-item h3::after{
  content: "";

  position: absolute;
  bottom: -30px;
  left: 50%;

  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #ffffff;

  transform: rotate(45deg);
}
.features-item p{
  margin: 0 10px;
}

.index-columns {
  color: #000000;

  background-color: #f8f5f2;
  background-image:
    url("../img/line-w.png"),
    url("../img/pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat:no-repeat, repeat;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}
.news {
min-height: 315px;
width: 380px;
}

.news-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}
.news-item{
  margin-bottom: 25px;
}
.news-item p{
  margin: 0;
}

.news-item time {
  text-transform: none;
}
.gallery {
min-height: 315px;
width: 300px;
}

.gallery-content {
  height: 164px;

  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;

}
.gallery-content img{
  width: 286px;
  height: 164px;
}

.galary-container{
  position: relative;

  height: 260px;
}

.gallery-button{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}
.gallery-button-back {
  left: 0;
}
.gallery-button-next {
  right: 0;
}

.contents {
  width: 380px;
  min-height: 295px;
}
.contents p{
  margin: 0;
  margin-bottom: 25px;
}

.appointment {
width: 300px;
min-height: 340px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
width: 140px;
margin: 0;
margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}
.appointment .button {
  display: block;
  width: 100%;
  margin-right: 0;
  margin-top: 10px;

}

.appointment-item input {
  box-sizing: border-box;
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
  line-height: 20px;
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}



/*----------------------         ITEM and PRICE         ---------------------------------------*/
 /* .item-content{
  display: block;
}
.product-img{
  float: left;
  width: 50%;
}
.description{
  float: right;
    width: 50%;
} */
.product h1,
.price-nav h1,
.shop-nav h1 {
  font-size: 30px;
  line-height: 42px;
}

.product-list li,
.price-nav-list li,
.shop-nav-list li{
  margin-left: 20px;
  display: inline;
}

.product ul,
.price-nav ul,
.shop-nav ul {
  list-style-image: url("../img/square-black.png");
}


.product-img-list {
  list-style: none;
}

.product-list a,
 .price-nav-list a,
 .shop-nav-list a {
  color: #000000;
  text-decoration: none;
}
.product-item-end,
.price-nav-item-end,
.shop-nav-item-end {
  color: #aba9a7;
}

.product-img-item{
  display: inline;
}

.product-list a:hover,
.product-list a:focus,
.price-nav-list a:hover,
.price-nav-list a:focus,
.shop-nav-list a:focus,
.shop-nav-list a:hover {
  text-decoration: underline;
}

.vendor-code {
  color: #aba9a7;
}

.description h2
legend h2 {
  font-size: 24px;
  line-height: 30px;
}

.description-price {
  background-color: #e5e5e5;
}

.description a[class="button"] {
  color: #ffffff;
  text-decoration: none;
}
.description-set-list,
.tools-list {
  list-style-image: url("../img/square-black.png");
}
/*------------------price basic settings---------------*/
.description-list-price {
  color: #000000;
  font-size: 48px;
  line-height: 48px;
}
.tools h3,
.about-us h3,
.price-service h3 {
  font-size: 24px;
  line-height: 30px;
}
.price-service table {
    font: inherit;
    border-collapse: collapse;
    color: #000000;
}

.price-service table, th, td {
    border: 2px solid #000000;
}
.line-price {
  margin: 0;
  padding: 0 10px 15px 10px;
}


/*------------------           CATALOG                    ---------------------------*/

.manufacturers-form fieldset {
  border: none;
}
.filters ul {
  list-style: none;
  line-height: 18px;
}
.filter-input:hover + label,
.filter-input:focus +label {
  color: #663d15;
}
.filter-input:disabled + label{
  color: #000000;

  opacity: 0.5;
}
input[type="checkbox"]:enabled + label{
  color: #000000;
}
.product-catalog-item {
  background-color: #ffffff;
}
.product-catalog-item a {
  color: #ffffff;
}

.product-catalog-item a:focus,
.product-catalog-item a:hover{
  color: #663d15;
}
.product-catalog ul{
  list-style: none;
}
.product-catalog-page a{
  color: #ffffff;
  background-color: #000000;
}
.product-catalog-page a:hover,
.product-catalog-page a:focus{
  background-color: #663d15;
  color: #ffffff;
}
a.page-activ{
  color: #000000;
  background-color: #ffffff;
}

/*---------------------------           FOOTER              -------------------------------------*/


.main-footer {
  color: #ffffff;

  background-color: #212121;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 65px;
  /* min-height: 180px; */
  padding: 60px 0;
}
.footer-contact{

  color: #ffffff;

  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.main-footer .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.footer-contact-map{
  color: #ffffff;
  text-decoration: underline;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social b{
  display: block;
  margin-bottom: 15px;
}

.footer-social ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 141px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #000;
}

.social-button:hover,
.social-button:focus {
  background-color: #fff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.main-footer .footer-contact-map:hover,
.main-footer .footer-contact-map:focus {
  text-decoration: none;
  background-color: #663d15;
}


.footer-copyright{
  width: 150px;
  margin: 0;

  margin-left: auto;
  text-align: center;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright button:hover,
.footer-copyright button:focus {
  color: #000000;

  background-color: #fff;
}

/*-----------------------------ВСПЛЫВАЮЩЕЕ ОКНО-------------------------------------*/

.modal {
  position: fixed;
  color: #000;

  display: none;

  background-color: #f8f3f0;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.modal::before{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.5);
  z-index: -1;
}

.modal-login {
  top: 120px;
  left: 50%;

  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
}

.modal h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}
.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;

  font: inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-icon-user {
  background-image: url(../img/user.svg);
  background-position: 270px center;
  background-repeat: no-repeat;
}
.login-icon-password {
  background-image: url(../img/lock.svg);
  background-position: 270px center;
  background-repeat: no-repeat;
}
.login-form .login-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}

.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-form  .button{
  width: 100%;
  margin-right: 0;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;
  background-color: #000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.restore {
  color: #000;
  text-decoration: underline;
}
.restore:hover,
.restore:focus {
  color: #663d15;
}
.modal-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;
  font-size: 0;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
  top: 50%;
  left: 50%;


  width: 766px;
  height: 561px;
  margin-left: -390px;
  margin-top: -280px;

  border: 7px solid #ffffff;
}

.modal-map p {
  margin: 0;
}
