body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.others-lists {
  /* font: inherit; */
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}
img{
  max-width: 100% ;
  height: auto;
}
.visually-hidden {
  display: none;
}
.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}
.main-header{
  margin-bottom: 75px;
  min-height: 285px;
}
.main-header-logo{
  order: 2;
  width: 368px;
  height: 153px;
  /* display: block; */
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;


  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;
  min-height: 70px;
}

.user-navigation {
  width: 140px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 70px;
}
.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  min-height: 70px;
  background-color: #000000;
}
.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-navigation-wrapper .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}
.features {
  margin-bottom: 80px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 170px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 300px;
  text-align: center;
  min-height: 170px;
}

.features-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}
.news {
min-height: 315px;
width: 380px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}
.gallery {
min-height: 315px;
width: 300px;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
  max-width: 300px;
  margin: 0;
}
.contents {
  width: 380px;
  min-height: 295px;
}
.appointment {
width: 300px;
min-height: 340px;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
  line-height: 20px;
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}



/*----------------------         ITEM and PRICE         ---------------------------------------*/
 /* .item-content{
  display: block;
}
.product-img{
  float: left;
  width: 50%;
}
.description{
  float: right;
    width: 50%;
} */
.product h1,
.price-nav h1,
.shop-nav h1 {
  font-size: 30px;
  line-height: 42px;
}

.product-list li,
.price-nav-list li,
.shop-nav-list li{
  margin-left: 20px;
  display: inline;
}

.product ul,
.price-nav ul,
.shop-nav ul {
  list-style-image: url(../img/square-black.png);
}


.product-img-list {
  list-style: none;
}

.product-list a,
 .price-nav-list a,
 .shop-nav-list a {
  color: #000000;
  text-decoration: none;
}
.product-item-end,
.price-nav-item-end,
.shop-nav-item-end {
  color: #aba9a7;
}

.product-img-item{
  display: inline;
}

.product-list a:hover,
.product-list a:focus,
.price-nav-list a:hover,
.price-nav-list a:focus,
.shop-nav-list a:focus,
.shop-nav-list a:hover {
  text-decoration: underline;
}

.vendor-code {
  color: #aba9a7;
}

.description h2
legend h2 {
  font-size: 24px;
  line-height: 30px;
}

.description-price {
  background-color: #e5e5e5;
}

.description a[class="button"] {
  color: #ffffff;
  text-decoration: none;
}
.description-set-list,
.tools-list {
  list-style-image: url(../img/square-black.png);
}
/*------------------price basic settings---------------*/
.description-list-price {
  color: #000000;
  font-size: 48px;
  line-height: 48px;
}
.tools h3,
.about-us h3,
.price-service h3 {
  font-size: 24px;
  line-height: 30px;
}
.price-service table {
    font: inherit;
    border-collapse: collapse;
    color: #000000;
}

.price-service table, th, td {
    border: 2px solid #000000;
}
.line-price {
  margin: 0;
  padding: 0 10px 15px 10px;
}


/*------------------           CATALOG                    ---------------------------*/

.manufacturers-form fieldset {
  border: none;
}
.filters ul {
  list-style: none;
  line-height: 18px;
}
.filter-input:hover + label,
.filter-input:focus +label {
  color: #663d15;
}
.filter-input:disabled + label{
  color: #000000;

  opacity: 0.5;
}
input[type="checkbox"]:enabled + label{
  color: #000000;
}
.product-catalog-item {
  background-color: #ffffff;
}
.product-catalog-item a {
  color: #ffffff;
}

.product-catalog-item a:focus,
.product-catalog-item a:hover{
  color: #663d15;
}
.product-catalog ul{
  list-style: none;
}
.product-catalog-page a{
  color: #ffffff;
  background-color: #000000;
}
.product-catalog-page a:hover,
.product-catalog-page a:focus{
  background-color: #663d15;
  color: #ffffff;
}
a.page-activ{
  color: #000000;
  background-color: #ffffff;
}

/*---------------------------           FOOTER              -------------------------------------*/


.main-footer {
  color: #ffffff;

  background-color: #212121;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 65px;
  /* min-height: 180px; */
  padding: 60px 0;
}
.footer-contact{

  color: #ffffff;

  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.main-footer .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.footer-contact-map{
  color: #ffffff;
  text-decoration: underline;
}



.main-footer .footer-contact-map:hover,
.main-footer .footer-contact-map:focus {
  text-decoration: none;
  background-color: #663d15;
}
.footer-social {
  /* text-align: center; */
  width: 145px;
  /* margin: 0 auto; */

}

.footer-social ul{
  list-style: none;
  display: inline-flex;

}


.social-button:hover,
.social-button:focus{
  background-color: #663d15;

}
.footer-copyright{
  /* text-align: center; */
  width: 150px;
  margin: 0;

  margin-left: auto;
}
.footer-copyright button:hover,
.footer-copyright button:focus {
  color: #000000;

  background-color: #fff;
}
.modal {
  color: #000;

  background-color: #f8f3f0;
  background-image: url(../img/pattern-light.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}
.modal h2 {
  font-size: 30px;
  line-height: 42px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}
.restore {
  color: #000;
  text-decoration: underline;
}
.restore:hover,
.restore:focus {
  color: #663d15;
}
