@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("/img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-header{
  height: 72px;
  width: 100%;
  border-color: #000;
}
